<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>stockWYSE {% block title %}{% endblock %}</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />
    <!-- uncomment when deploying with firebase -->
    <link rel="stylesheet" href="../static/styles.css" />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://kit.fontawesome.com/4137f8921b.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <nav class="navbar navbar-light pt-3">
      {% block nav %}{% endblock %} {% if 'user' in session %}
      <a href="{{url_for('logout')}}" class="btn btn-outline-light ms-auto me-3"
        >Log Out</a
      >
      {% endif %}
    </nav>
    {% with messages = get_flashed_messages(with_categories=true) %} {% if
    messages %} {% for category, message in messages %}
    <div class="w-100">
      <div
        class="alert alert-{{ category }} alert-dismissible mx-auto"
        role="alert"
      >
        {{ message }}
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="alert"
          aria-label="Close"
        ></button>
      </div>
    </div>
    {% endfor %} {% endif %} {% endwith %} {% block body %}{% endblock %}
    <footer class="footer w-100 text-light text-center mb-3">
      Made with
      <span style="color: #e25555"><i class="fa-solid fa-heart"></i></span> by
      <a href="https://github.com/breyr" target="_blank">me</a>
      <br />
      2023
    </footer>
  </body>
</html>
