{% extends "base.html" %} {% block title %}- Password Reset{% endblock %} {%
block nav %}
<a href="{{url_for('login')}}" class="btn btn-outline-light ms-auto me-3"
  >Log In</a
>
<a href="{{url_for('register')}}" class="btn btn-outline-light me-3">Sign Up</a>
{% endblock %} {% block body %}
<div class="flex-mid">
  <h1>Password Reset</h1>
  <h5 class="text-light fw-lighter mb-3">
    Please submit your email in order to reset your password.
  </h5>
  <form method="POST" action="/passwordreset">
    <div class="mb-2 mt-3">
      <input
        type="text"
        class="form-control"
        name="email"
        placeholder="Email"
      />
    </div>
    <button type="submit" class="btn btn-green mt-2">submit</button>
  </form>
</div>
{% endblock %}
